/* global styles */
:root {
    --color-1: #F67181;
    --color-2: #B9DC4D;
    --color-3: rgb(243, 192, 72);
}
body {
    background-color: #edf0f5;
}
.panel {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0;
    min-width: 400px;
}
.panel-title {
    width: 100%;
    border-bottom: 1px solid #cccecf;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.panel-title-baseline {
    align-items: baseline;
}
.panel-content {
    width: 100%;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}
/* input {
    border-radius: 5px;
    border: 1px solid #414141;
    padding: 8px;
    font-size: 12px;
} */
#main-content-panel {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.btn-brand-1 { 
    color: #ffffff; 
    background-color: #F47283; 
    border-color: #F47283; 
} 
   
.btn-brand-1:hover, 
.btn-brand-1:focus, 
.btn-brand-1:active, 
.btn-brand-1.active, 
.open .dropdown-toggle.btn-brand-1 { 
    color: #ffffff; 
    background-color: #ED495F; 
    border-color: #F47283; 
} 
   
.btn-brand-1:active, 
.btn-brand-1.active, 
.open .dropdown-toggle.btn-brand-1 { 
    background-image: none; 
} 
   
.btn-brand-1.disabled, 
.btn-brand-1[disabled], 
fieldset[disabled] .btn-brand-1, 
.btn-brand-1.disabled:hover, 
.btn-brand-1[disabled]:hover, 
fieldset[disabled] .btn-brand-1:hover, 
.btn-brand-1.disabled:focus, 
.btn-brand-1[disabled]:focus, 
fieldset[disabled] .btn-brand-1:focus, 
.btn-brand-1.disabled:active, 
.btn-brand-1[disabled]:active, 
fieldset[disabled] .btn-brand-1:active, 
.btn-brand-1.disabled.active, 
.btn-brand-1[disabled].active, 
fieldset[disabled] .btn-brand-1.active { 
    background-color: #F47283; 
    border-color: #F47283; 
} 

.btn-brand-1 .badge { 
    color: #F47283; 
    background-color: #ffffff; 
}