.plan-container {
    min-width: 0 !important;
    max-width: 400px !important;
}
.features-list {
    padding-left: 20px;
}
.price {
    font-size: 30px;
    font-weight: bold;
}
/* .paypal-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
} */